<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPG Snip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GPGMail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Run Mail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Run in Mail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B19E83A13A2AEA4002E59ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BCD9A4813A8C6B5003024C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BCD9A5A13A8C761003024C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BCD9A6E13A8C9A5003024C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5B49AC048680CD000E48DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
