<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNumber</key>
	<string>AUTOFILL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>MailTrackerBlocker</string>
	<key>CFBundleIconFile</key>
	<string>MTBMail.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MailTrackerBlocker</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>AUTOFILL</string>
	<key>CFBundleVersion</key>
	<string>AUTOFILL</string>
	<key>CommitHash</key>
	<string>AUTOFILL</string>
	<key>GMOSXVersions</key>
	<array>
		<string>10.13</string>
	</array>
	<key>NSPrincipalClass</key>
	<string>MTBMailBundle</string>
	<key>Supported10.12PluginCompatibilityUUIDs</key>
	<array>
		<string>21560BD9-A3CC-482E-9B99-95B7BF61EDC1</string>
		<string>1CD3B36A-0E3B-4A26-8F7E-5BDF96AAC97E</string>
		<string>9054AFD9-2607-489E-8E63-8B09A749BC61</string>
		<string>36CCB8BB-2207-455E-89BC-B9D6E47ABB5B</string>
	</array>
	<key>Supported10.13PluginCompatibilityUUIDs</key>
	<array>
		<string>C86CD990-4660-4E36-8CDA-7454DEB2E199</string>
	</array>
	<key>Supported10.14PluginCompatibilityUUIDs</key>
	<array>
		<string>A4343FAF-AE18-40D0-8A16-DFAE481AF9C1</string>
	</array>
	<key>Supported10.15PluginCompatibilityUUIDs</key>
	<array>
		<string>6EEA38FB-1A0B-469B-BB35-4C2E0EEA9053</string>
	</array>
	<key>Supported11.0PluginCompatibilityUUIDs</key>
	<array>
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
	<key>Supported11.1PluginCompatibilityUUIDs</key>
	<array>	
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
	<key>Supported11.2PluginCompatibilityUUIDs</key>
	<array>	
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
	<key>Supported11.3PluginCompatibilityUUIDs</key>
	<array>	
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
	<key>Supported11.4PluginCompatibilityUUIDs</key>
	<array>	
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
	<key>Supported11.5PluginCompatibilityUUIDs</key>
	<array>	
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
	<key>Supported11.6PluginCompatibilityUUIDs</key>
	<array>	
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
	<key>Supported11.7PluginCompatibilityUUIDs</key>
	<array>
		<string>D985F0E4-3BBC-4B95-BBA1-12056AC4A531</string>
	</array>
	<key>Supported12.0PluginCompatibilityUUIDs</key>
	<array>	
		<string>25288CEF-7D9B-49A8-BE6B-E41DA6277CF3</string>
	</array>
	<key>Supported12.1PluginCompatibilityUUIDs</key>
	<array>	
		<string>6FF8B077-81FA-45A4-BD57-17CDE79F13A5</string>
	</array>
	<key>Supported12.2PluginCompatibilityUUIDs</key>
	<array>	
		<string>6FF8B077-81FA-45A4-BD57-17CDE79F13A5</string>
	</array>
	<key>Supported12.3PluginCompatibilityUUIDs</key>
	<array>	
		<string>A4B49485-0377-4FAB-8D8E-E3B8018CFC21</string>
	</array>
	<key>Supported12.4PluginCompatibilityUUIDs</key>
	<array>	
		<string>A4B49485-0377-4FAB-8D8E-E3B8018CFC21</string>
	</array>
	<key>Supported12.5PluginCompatibilityUUIDs</key>
	<array>	
		<string>A4B49485-0377-4FAB-8D8E-E3B8018CFC21</string>
	</array>
	<key>Supported12.6PluginCompatibilityUUIDs</key>
	<array>	
		<string>A4B49485-0377-4FAB-8D8E-E3B8018CFC21</string>
	</array>
	<key>Supported12.7PluginCompatibilityUUIDs</key>
	<array>	
		<string>A4B49485-0377-4FAB-8D8E-E3B8018CFC21</string>
	</array>
	<key>Supported13.0PluginCompatibilityUUIDs</key>
	<array>	
		<string>890E3F5B-9490-4828-8F3F-B6561E513FCC</string>
	</array>
	<key>Supported13.1PluginCompatibilityUUIDs</key>
	<array>	
		<string>890E3F5B-9490-4828-8F3F-B6561E513FCC</string>
	</array>
	<key>Supported13.2PluginCompatibilityUUIDs</key>
	<array>	
		<string>890E3F5B-9490-4828-8F3F-B6561E513FCC</string>
	</array>
	<key>Supported13.3PluginCompatibilityUUIDs</key>
	<array>	
		<string>281F8A5C-0AF9-4BE6-8B8A-C0CB9C2068BE</string>
	</array>
	<key>Supported13.4PluginCompatibilityUUIDs</key>
	<array>	
		<string>281F8A5C-0AF9-4BE6-8B8A-C0CB9C2068BE</string>
	</array>
	<key>Supported13.5PluginCompatibilityUUIDs</key>
	<array>	
		<string>281F8A5C-0AF9-4BE6-8B8A-C0CB9C2068BE</string>
	</array>
	<key>Supported13.6PluginCompatibilityUUIDs</key>
	<array>	
		<string>281F8A5C-0AF9-4BE6-8B8A-C0CB9C2068BE</string>
	</array>
	<key>Supported13.7PluginCompatibilityUUIDs</key>
	<array>	
		<string>281F8A5C-0AF9-4BE6-8B8A-C0CB9C2068BE</string>
	</array>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>71562B89-0D90-4588-8E94-A75B701D6443</string>
		<string>36CCB8BB-2207-455E-89BC-B9D6E47ABB5B</string>
		<string>1550C683-EA48-4036-B7CE-FB6F5D13EE02</string>
		<string>DAF41AB7-F9AD-4273-9934-C81C74705B69</string>
		<string>AB695A2B-4605-4A74-A99F-AF9F9C92C41B</string>
		<string>60D52D22-7491-4CA7-95BA-88215BD88F8E</string>
		<string>7C051997-F45A-4523-B053-2D262F94C775</string>
		<string>800E5C92-87D3-429B-8740-5C6183CD13EA</string>
		<string>FBD91264-8866-4DEB-AFBF-F08505810056</string>
		<string>E5B33C60-5574-47F5-8418-4CE37CCE16BE</string>
		<string>D1EFE124-86FF-4751-BF00-80B2C0D6F2E4</string>
		<string>427E6BAF-DE6C-4181-BB6D-1147337CD73A</string>
		<string>1A6064D1-D261-4A15-ACE8-C3743D5DF95B</string>
		<string>0C8D41E1-BE6E-44EC-AF91-5A08068B4359</string>
		<string>F4C26776-22B3-4A0A-96E1-EA8E4482E0B5</string>
		<string>1CD40D64-945D-4D50-B12D-9CD865533506</string>
		<string>88ED2D4C-D384-4BF5-8E94-B533455E6AAF</string>
		<string>B9F62389-216B-4459-9F0C-2E379DB461C6</string>
		<string>FBE5B158-5602-4A6D-9CC5-8461B9B7054E</string>
		<string>DAFFB2B4-77BC-4C25-8CE1-2405E652D54B</string>
		<string>04D6EC0A-52FF-4BBE-9896-C0B5FB851BBA</string>
		<string>2B98D2DD-000B-4521-83EB-7BFCB9B161C8</string>
		<string>422F980A-6E19-4083-97A0-791EB6B06508</string>
		<string>19B53E95-0964-4AAB-88F9-6D2F8B7B6037</string>
		<string>45A0C9E7-264B-45A4-9A54-F9CE48806169</string>
		<string>1B8BEB55-7CDB-44D1-A2D0-20C2D3449417</string>
		<string>2183B2CD-BEDF-4AA6-AC18-A1BBED2E3354</string>
		<string>B3840429-B086-42FB-BBE9-03DD7273C94E</string>
		<string>608CE00F-4576-4CAD-B362-F3CCB7DE8D67</string>
		<string>4C286C70-7F18-4839-B903-6F2D58FA4C71</string>
		<string>EF59EC5E-EFCD-4EA7-B617-6C5708397D24</string>
		<string>6E7970A3-E5F1-4C41-A904-B18D3D8FAA7D</string>
		<string>2DE49D65-B49E-4303-A280-8448872EFE87</string>
		<string>1146A009-E373-4DB6-AB4D-47E59A7E50FD</string>
		<string>E71BD599-351A-42C5-9B63-EA5C47F7CE8E</string>
		<string>B842F7D0-4D81-4DDF-A672-129CA5B32D57</string>
		<string>0CB5F2A0-A173-4809-86E3-9317261F1745</string>
		<string>2F0CF6F9-35BA-4812-9CB2-155C0FDB9B0F</string>
		<string>225E0A48-2CDB-44A6-8D99-A9BB8AF6BA04</string>
		<string>B3F3FC72-315D-4323-BE85-7AB76090224D</string>
		<string>2610F061-32C6-4C6B-B90A-7A3102F9B9C8</string>
		<string>99BB3782-6C16-4C6F-B910-25ED1C1CB38B</string>
		<string>857A142A-AB81-4D99-BECC-D1B55A86D94E</string>
		<string>BDD81F4D-6881-4A8D-94A7-E67410089EEB</string>
		<string>36555EB0-53A7-4B29-9B84-6C0C6BACFC23</string>
		<string>9049EF7D-5873-4F54-A447-51D722009310</string>
		<string>1C58722D-AFBD-464E-81BB-0E05C108BE06</string>
		<string>758F235A-2FD0-4660-9B52-102CD0EA897F</string>
		<string>3335F782-01E2-4DF1-9E61-F81314124212</string>
		<string>0941BB9F-231F-452D-A26F-47A43863C991</string>
	</array>
</dict>
</plist>
